<a class="btn btn-default pl-create-draft-button pl-create-draft-template" data-pl-order-id="{{ record.id_order }}">
    <img
            class="pl-image"
            src="{{ asset('modules/packlink/logo.png') }}"
            alt=""
    >
    <span>Send with Packlink</span>
</a>