<a class="btn tooltip-link js-link-row-action dropdown-item inline-dropdown-item" href="#" data-confirm-message="" data-toggle="pstooltip" data-placement="top" data-original-title="Print" data-clickable-row="">
    <i class="material-icons">label</i>
</a>