<li class="nav-item">
    <a class="nav-link" id="packlinkShippingTab" data-toggle="tab" href="#packlinkShippingTabContent">
        <i class="material-icons">local_shipping</i>
        {{ 'Packlink Shipping'|trans({}, 'Modules.Packlink.Admin') }}
    </a>
</li>