#pl-page .pl-form-group input,
#pl-page .pl-form-group select {
  height: 100%;
}

#pl-pricing-policy-form .pl-form-group {
  height: 100%
}

.pl-config-list-item svg {
  width: 22px;
  height: 22px;
}

.pl-half-width .material-icons {
  padding-top: 5px !important;
}